
<script type="text/javascript" charset="utf-8">
  $().ready(function() {
    $('#elfinder').elfinder({
      url: '/elfinder',
      lang: 'en',
      curURL: 'root'
    })
  })
</script>

<div id='elfinder'></div>
